VITE_FIREBASE_API_KEY="AIzaSyB5EHyqEC6r15evOPsTAXgIlTvhsvzIins"
VITE_FIREBASE_AUTH_DOMAIN="attendance-395f7.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="attendance-395f7"
VITE_FIREBASE_STORAGE_BUCKET="attendance-395f7.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="639288489213"
VITE_FIREBASE_APP_ID="1:639288489213:web:ea4ea701e21b7858d5fa94"

