  apiKey: "AIzaSyB5EHyqEC6r15evOPsTAXgIlTvhsvzIins",
  authDomain: "attendance-395f7.firebaseapp.com",
  projectId: "attendance-395f7",
  storageBucket: "attendance-395f7.firebasestorage.app",
  messagingSenderId: "639288489213",
  appId: "1:639288489213:web:ea4ea701e21b7858d5fa94",
  measurementId: "G-LG2KBBGJE2"
